<div class="calculator-container container" (keyup)="handleKeyPress($event)">
  <div class="calc-background-field">
    <div class="text-field">{{displayValue}}</div>
      <div class="_25 _50 button calcelement" (click)="handleOnClick('C')">C</div>
      <div class="_25 button calcelement" (click)="handleOnClick('+/-')">+/-</div>
      <div class="_25 button calcelement" (click)="handleOnClick('/')">/</div>

      <div class="_25 bold button calcelement" (click)="handleOnClick('7')">7</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('8')">8</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('9')">9</div>
      <div class="_25 button calcelement" (click)="handleOnClick('*')">*</div>

      <div class="_25 bold button calcelement" (click)="handleOnClick('4')">4</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('5')">5</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('6')">6</div>
      <div class="_25 button calcelement" (click)="handleOnClick('-')">-</div>

      <div class="_25 bold button calcelement" (click)="handleOnClick('1')">1</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('2')">2</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('3')">3</div>
      <div class="_25 button calcelement" (click)="handleOnClick('+')">+</div>

      <div class="_25 bold button calcelement" (click)="handleOnClick('.')">.</div>
      <div class="_25 bold button calcelement" (click)="handleOnClick('0')">0</div>
      <div class="_25 _50 dark button calcelement" (click)="handleOnClick('=')">=</div>
  </div>
</div>
